.contact { 
	color: yellow;
	font-size: 35px;
  border: 2px solid yellow;
}
.thank{
	font-size: 60px;
	text-shadow: rgba(150, 150, 0, .5) 1px 1px, 
    yellow 2px 3px, 
    rgba(255, 153, 0, .7) 3px 6px,
    rgba(255, 0, 0, .5) 4px 8px; 
}